arrow
beautifulsoup4
binaryornot
bitarray
Bitten
Django
django-adminactions
django-background-task
django-crispy-forms
django-debreach
django-extensions
django-fixture-magic
django-grappelli
django-haystack
django-reversion
django-tastypie
elasticsearch

ftputil
httmock
ipdb
ipython
jinja2
MarkupSafe
meld3
mock
natsort
oauthlib
pudb
py2-ipaddress
pygments
python-dateutil
python-memcached
python-mimeparse
python-openid
python-social-auth
reppy
requests
requests-oauthlib
selenium
six
South
supervisor
unicodecsv
url
urllib3
urwid
Whoosh
z3c.recipe.usercrontab
zc.buildout
Pympler

paramiko
ecdsa

fabric
pycrypto

click